.page {
  width: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  margin: 0 auto;
  background-color: #0E1014;
  color: #E4E5EA;
  position: relative;

  &__content {
    max-width: 1140px;
    min-width: 320px;
    margin: 0 auto;
  }
}