.content {
  position: relative;

  &__decoration-1 {
    z-index: -1;
    position: absolute;
    width: 83px;
    height: 83px;
    left: 370px;
    top: -122px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  &__decoration-2 {
    z-index: -1;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 710px;
    top: -210px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  &__decoration-3 {
    z-index: -1;
    position: absolute;
    width: 311px;
    height: 311px;
    left: -250px;
    top: 50px;
    border-radius: 50%;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
  }

  &__decoration-4 {
    z-index: -1;
    position: absolute;
    width: 259px;
    height: 259px;
    left: 502px;
    top: -354px;
    border-radius: 50%;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
  }

  &__decoration-5 {
    z-index: -1;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 700px;
    top: 335px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
}